/node_modules
/server/node_modules/
/client/node_modules/
/server/package-lock.json
/client/package-lock.json
/.vs
/.idea
/server/data.json
/server/gameSaves
/client/build
.DS_Store
client/.DS_Store
server/.DS_Store
